@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<PcBuilder.Models.Product>

<head>
    <title>@ViewData["Title"]</title>
    <link href="../css/site.css" rel="stylesheet" />
</head>
<body>
    <section>
        <ul class="row" style="margin: 0px">
            @foreach (var item in Model)
            {
                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId" class="details">
                    <li>
                        <div class="card col">
                            <div class="imgProduct">
                                <img src="data:image/jpeg;base64, @item.File" />
                            </div>
                            <div class="content">
                                <h3>@item.Name</h3>
                                <h2>@item.Price</h2>
                                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ProductId" class="buy">Dodaj do koszyka</a>
                            </div>
                        </div>
                    </li>
                </a>
            }
        </ul>
        <div style="min-height: 50px"></div>
    </section>
</body>