@model PcBuilder.Services.Configurator.ConfiguratorViewModel
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/Cart.css" rel="stylesheet" />
</head>
<section>
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-lg-8">
            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4 wish-list cart-wrapper">
                    @if (Model.ConfiguratorPositions != null)
                    {

                        @foreach (var cartPosition in Model.ConfiguratorPositions)
                        {
                            <div class="row mb-4">
                                <!--<div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                        <img class="img-fluid w-100"
                                             src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">
                                    </div>
                                </div>-->
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div>
                                        <div class="d-flex justify-content-between" id="product-check-@cartPosition.product.SubCategoryId">
                                            <div>
                                                <h5>@cartPosition.product.Name</h5>
                                                <p class="mb-3 text-muted text-uppercase small">@cartPosition.product.Subcategory</p>
                                                <p class="mb-3 text-muted text-uppercase small">Zamawiana ilość: <strong>@cartPosition.quantity</strong></p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center trash">
                                            <div>
                                                <a asp-controller="Configurator" asp-action="RemoveFromConfigurator" asp-route-id="@cartPosition.product.ProductId" type="button" class="card-link-secondary small text-uppercase mr-3">
                                                    <i class="bx bxs-trash"></i> Usuń
                                                    @*bs bxs-trash-alt*@
                                                </a>
                                            </div>
                                            <p class="mb-0"><span><strong id="summary">@cartPosition.product.Price zł</strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4" style="display:flex; flex-direction: column">
            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4">
                    <h5 class="mb-3">Podsumowanie zamówienia</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Cena tymczasowa
                            <span>@Model.TotalPrice  zł</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Wysyłka
                            <span>Gratis</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Cena całkowita</strong>
                                <strong>
                                    <p class="mb-0">(włączając VAT)</p>
                                </strong>
                            </div>
                            <span><strong>@Model.TotalPrice  zł</strong></span>
                        </li>
                    </ul>

                    <a asp-controller="Configurator" asp-action="ValidateConfiguration"><button class="btn btn-primary btn-block m-1">Waliduj zestaw</button></a>
                    <button type="button" class="btn btn-primary btn-block m-1">Zapłać</button>
                    @await Component.InvokeAsync("ConfiguratorCheck")
                </div>
            </div>
        </div>
    </div>
</section>