@model IEnumerable<PcBuilder.Models.Category>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<head>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class='bx bx-desktop'></i>
            <a asp-controller="Home" asp-action="Index">
                <div class="logo_name">PcBuilder</div>
            </a>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav flex-column">
        <li>
            <form>
                @*<i class='bx bx-search'></i>*@
                <input type="text" placeholder="Szukaj" id="searchString"/>
            </form>
        </li>

        @foreach (var item in Model)
        {
            @switch (item.CategoryId)
            {
                case 1:
                    <i class="flaticon-hdd-1 icon"></i>
                    break;
                case 2:
                    <i class="flaticon-gpu icon"></i>
                    break;
                case 3:
                    <i class="flaticon-pc-tower icon"></i>
                    break;
                case 4:
                    <i class="flaticon-memory icon"></i>
                    break;
                case 5:
                    <i class="flaticon-motherboard icon"></i>
                    break;
                case 6:
                    <i class="flaticon-cpu icon"></i>
                    break;
                case 7:
                    <i class="flaticon-power-supply icon"></i>
                    break;
                case 8:
                    <i class="flaticon-fan icon"></i>
                    break;
                default:
                    break;
            }
            <li class="nav-item">
                <a class="nav-link" asp-controller="Product" asp-action="Index" asp-route-id="@item.CategoryId">@item.Name</a>
            </li>
        }
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <i class='bx bxs-user-circle'></i>
                <div class="name_job">
                    @*<div class="name" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</div>*@
                    <a class="name" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
                    @*<div class="job">Creator</div>*@
                </div>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class='bx bx-log-out' id="log_out"></i></a>
            }
        </div>
    </div>
</div>

<script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");
    /*let searchBtn = document.querySelector(".bx-search");*/

    btn.onclick = function () {
        sidebar.classList.toggle("active");
    }

</script>