@model IEnumerable<PcBuilder.Models.Product>

<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/Card.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="koszykHeaderLink" href="link">
                Koszyk (0)
                <span></span>
            </a>
        </div>
    </header>

    <section>
        <ul class="row">
            @foreach (var item in Model)
            {
                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId" class="details">
                    <li>
                        <div class="card col">
                            <div class="imgProduct">
                                <img src="data:image/jpeg;base64, @item.File" />
                            </div>
                            <div class="content">
                                <h3>@item.Name</h3>
                                <h2>@item.Price</h2>
                                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.ProductId" class="buy">Dodaj do koszyka</a>
                            </div>
                        </div>
                    </li>
                </a>
            }
        </ul>
    </section>
</body>